*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $color-grey-dark-3;
  padding: 10rem 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 1.5rem 3rem;
  }
}

//Scrollbar
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $color-grey-dark-1;
}

body::-webkit-scrollbar-thumb {
  background-color: $color-primary-1;
  outline: none;
}

::selection {
  background-color: $color-primary-3;
  color: $color-white;
}
