//Colors
$color-primary-1: #e00c0b;
$color-primary-2: #b00000;
$color-primary-3: #4e0000;

$color-secondary-1: #f2cf66;

$color-white: #f7f7f7;
$color-grey-dark-1: #222;
$color-grey-dark-2: #101010;
$color-grey-dark-3: #0a0a0a;

$color-green: #47cf73;

//Shadow
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 2rem 2rem rgba(0, 0, 0, 0.1);

//Font
$default-font-size: 1.7rem;

// GRID
$grid-width: 136.6rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 1.5rem;
$gutter-horizontal: 3rem;
