.sidebar {
  @include respond(tab-land) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__item {
    background-image: linear-gradient(
      to bottom right,
      $color-grey-dark-1,
      $color-primary-2
    );
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: $box-shadow;
    transition: 0.2s ease;

    &:hover {
      transform: translateY(-0.2rem);
      box-shadow: $box-shadow-dark;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include respond(tab-land) {
        margin-bottom: 0;
      }
    }
  }

  &__item-title {
    font-size: $default-font-size;
    font-weight: 400;
    padding: 2.2rem 1rem 0 2rem;
    color: $color-white;

    .far,
    .fas {
      color: $color-primary-1;
    }
  }

  &__box {
    padding: 2rem;
    color: $color-white;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
  }

  &__text {
    padding: 0.5rem 1rem;
    background-color: $color-primary-1;
    border-radius: 0.5rem;

    &--sub {
      display: block;
      color: $color-white;
      font-size: 1.4rem;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1.5rem;
    color: $color-white;
    padding: 0.5rem 1rem;
    background-color: $color-primary-1;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    .fas {
      color: rgba($color-white, 1);
    }

    &:hover {
      background-color: rgba($color-primary-2, 0.6);
    }
  }
}
